/* Main */


/*Section Mais Lidas*/

.section-maislidas-content{
	height: 400px;
}

.section-maislidas-content img{
	object-fit: cover;
}

/* Carousel */
.carousel-indicators li {
	width: 20px;
	height: 20px;
	border: none;
	margin: 0 .6rem;
	border-radius: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 25px;
	height: 25px;
}

/*Custom Card*/
.card-custom img{
	height: 170px;
	object-fit: cover;
}